
html {
    font-size: clamp(14px, 2vw, 18px); /* responsive base font size */
}*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #C9B59C;
}
.container{
    background-color: #F9F8F6;
    padding: 1rem;
    border-radius: 1rem;
    min-height: 50vh;
    min-width: 20vw;
}
form{
    margin: 2rem 0 1rem 0;
}
form select,button,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}
form input{
    border: 0.1rem solid #C5C7BC;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.dropdown i {
    font-size: 1rem;
    margin-top: 1rem;
}
.select-container img {
    width: 2rem;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    border: 0.1rem solid #C5C7BC;
    border-radius: 0.5rem;
}
.select-container select{
    font-size: 0.8rem;
    width: auto;
}
.msg{
    margin-top: 0.5rem;
}
form button{
    height: 3rem;
    background-color: #5D866C;
    color: #F9F8F6;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    cursor: pointer;
}